server:
  port: 8089
 
spring:
  application:
    name: policy-service
 
  datasource:
    url: jdbc:mysql://localhost:3306/policyDB
    username: root
    password: Sahil@1402
 
  jpa:
   database-platform: org.hibernate.dialect.MySQLDialect
   hibernate:
    ddl-auto: update
 
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
 


